:root {
  --dark: #000;
  --course: #F4E408;
  --light: #fff;
}
body {
  background-color: var(--dark);
  font-family: monospace;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
}
main {
  max-width: 1400px;
  margin: 10vh auto;
}
header {
  background: var(--course);
  color: var(--dark);
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 5em;
}
h2 {
  font-size: 2em;
  margin-top: 1.5em;
}
h3{
  color: white;
  font-size: 1.5em;
}

h3:focus{
  text-decoration: underline 5px red;
}

#table3{
  color: black;
  border-width:0 0 3px 3px;
  border-style:solid;
  border-color: red;
  width: 100%;
  font-size: 1.5em;
}

#table3 th{
  background-color: lightgrey;
}

#table3 th, #table3 td{
  border-width:3px 3px 0 0;
  border-style:solid;
  border-color:red;

}

#table3 th:focus{
  background-color: springgreen;
}

#table3 tr:focus{
  background-color: springgreen;
}

#table3 td:focus{
  background-color: springgreen;
}

#table2{
  border-width:0 0 2px 2px;
  border-style:solid;
  border-color: yellow;
  color: white;
  width: 50%;
}

#table2 th, #table2 td{
  border-width:1px 1px 0 0;
  border-style:solid;
  border-color:yellow;
}

#table2 th:focus{
  color: black;
}

#table2 tr:focus{
  color: black;
}

#table2 td:focus{
  color: black;
}

#table1{
  font-size: 1.5em;
  width:100%;
  border-width:0 0 4px 4px;
  border-style:solid;
  border-color: orange;
  color: var(--light);
}

#table1 th{
  background: #666666;;
  color:#fff;
}

#table1 th:focus{
  text-decoration: underline 5px red;
}

#table1 tr:focus{
  text-decoration: underline 5px red;
}

#table1 td:focus{
  text-decoration: underline 5px red;
}

#table1 th, #table1 td{
  text-align:center;
  border-width:4px 4px 0 0;
  border-style:solid;
  border-color:orange;
  padding:4px 2px;
}
  
.subTotatlRow .sub-total-text{
  text-align:right !important; 
}

.hidden{
  display: none;
}

button{
  margin-top: 30px;
  width: 200px;
  height: 50px;
  background-color: orange;
  border-color: red;
  border-width: 5px;
  font-size: 1em;
  font-weight: bold;
}

button:focus{
  border-color: ghostwhite;
  text-decoration: underline 5px red;
}